/* div{
    cursor: url(../../assets/soccerball.png);
}   */


.abouttop{
    position: relative;
    text-align: center;
    color: white;
 
}

.abouttext{
    font-family: 'Fira Sans Condensed', sans-serif; 
    
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.iconarrowabout{
    font-size: 40px;
    padding-top: 90px;
   
}

.aboutbig{
    font-weight: 700;
    font-size: 50px;
    padding-bottom: 25px;
}

.aboutsmall{
    font-weight: 500;
    font-size: 25px;
   
}

.aboutfdpflex{
    text-align:center;
    font-family: 'Roboto', sans-serif;
     justify-content: center;
     vertical-align: middle;
     display: flex;
     padding-top: 50px;
     padding-bottom: 20px;
     /* background-color: rgba(80, 80, 244, 0.409); */

}
.aboutfdpcon{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 700px;
}

/* .aboutfdp{
    padding-top: 120px; */
    /* width:500px; */
   
    /* text-align: center;
    align-items: center;
} */

.aboutfdptop{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
   
    
}

.aboutfdptext{
    font-size: 20px;
    padding-bottom: 70px;
    text-align: left;
    
}

.flexabout{
    display: flex;
    /* background-color: aquamarine; */
    flex-wrap: wrap;
   padding-left: 120px;
}

.flexabout > div {
    margin: 10px;
    padding: 10px;
}

.aboutvideo{
    max-width: 800px;
}


.aboutunderflex{
    text-align:center;
    font-family: 'Roboto', sans-serif;
     justify-content: center;
     vertical-align: middle;
     display: flex;
     padding-top: 50px;
     padding-bottom: 20px;
     background-color: pink;
}
.aboutundercon{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 700px;
}


.aboutfdpundertext{
    padding-top: 40px;
    font-size: 20px;
    padding-bottom: 70px;
    text-align: left;
}
.aboutfdpundertextq{
    padding-top: 25px;
   
}

.aboutclientsflex{

    height: 35vh;
    background-color: black;
    /* padding-top: 200px; */
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif; 
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    display: flex;
}

.aboutclientscon{
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.aboutclients{
    font-weight: 900 ;
    font-size: 35px;
}


.about1flex{
    height: 55vh;
    text-align: center;
    background-color: #55a5e694 ;
    color: black;
    font-family: 'Roboto', sans-serif; 
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    display: flex;
}

.about1con{
    width: 806px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about0header{
    font-family: 'Roboto', sans-serif; 
    padding-bottom: 20px;
}

.about0text{
    font-size: 30px;
    font-weight: 700;
    justify-content: center;
    text-align: center;
}

.about2flex{
    height: 55vh;
    text-align: center;
    background-color: white ;
    color: black;
    font-family: 'Roboto', sans-serif; 
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    display: flex;
}

.about2con{
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* #7dc2fa94  */