/* div{
    cursor: url(../../assets/soccerball.png);
}   */


.abouttop{
    position: relative;
    text-align: center;
    color: white;
 
}

.abouttext{
    font-family: 'Fira Sans Condensed', sans-serif; 
    
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.aboutbig{
    font-weight: 700;
    font-size: 50px;
    padding-bottom: 25px;
}

.aboutsmall{
    font-weight: 500;
    font-size: 25px;
}

.aboutfdp{
    padding-top: 120px;
    
    text-align: center;
}

.aboutfdptop{
    font-size: 40px;
}

.aboutfdptext{
    font-size: 25px;
    padding-bottom: 70px;
    
}

.flexabout{
    display: flex;
    background-color: aquamarine;
    flex-wrap: wrap;
   padding-left: 120px;
}

.flexabout > div {
    margin: 10px;
    padding: 10px;
}

.aboutvideo{
    max-width: 800px;
}


.aboutfdpundertext{
    font-size: 25px;
    padding-bottom: 70px;
    padding-top: 60px;
    
}
