@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;500;600;700&display=swap');

/* rgb(255, 252, 252) */
/* rgb(250, 248, 248) */

/* font-family: 'Fira Sans Condensed', sans-serif; */

.topsection{
    position: relative;
    text-align: center;
    color: white;
 
}



.toptext{
    font-family: 'Fira Sans Condensed', sans-serif; 
    
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bigtop{
    font-weight: 700;
    font-size: 130px;
}

.smalltop{
    font-weight: 500;
    font-size: 30px;
}