@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;500;600;700&family=Roboto&display=swap');

/* rgb(255, 252, 252) */
/* rgb(250, 248, 248) */

/* font-family: 'Fira Sans Condensed', sans-serif; */

.topsection{
    position: flex;
    text-align: center;
    color: white;
 
}

.toptext{
    font-family: 'Fira Sans Condensed', sans-serif; 
    
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bigtop{
    font-weight: 700;
    font-size: 130px;
}

.smalltop{
    font-weight: 500;
    font-size: 30px;
}

.iconhome{
    padding-left: 15px;
    padding-bottom: 20px;
}

.servicecon{
     font-family: 'Roboto', sans-serif; 
    height: 50vh;
    display: flex;
    flex-wrap:wrap;
    /* display: flex; */
  padding-left: 40px;
    
}

.scontainers {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    width: 450px;
  
       
  }

  .scontainershead{
 font-weight: 700;
 font-size: 30px;
 padding-bottom: 15px;
  }

  .scontainersmain{
    font-size: 20px;
  }

  /* .sbottom{
    text-align: center;
    font-family: 'Roboto', sans-serif; 
    font-size: 22px;
    font-weight: 500;
    
  } */

  /* .homeinfo{
    display: flex;
    
  } */
  /* .servicehome{
    display: flex;
  } */
  
  .nats{
   
    height: 50vh;
    background-color: rgb(227, 225, 222);
    /* padding-top: 200px; */
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif; 
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    display: flex;
    
  }
  .natsbox{
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .motivation{
    height: 50vh;
    text-align: center;
    background-color: rgb(246, 212, 162);
    color: black;
    font-family: 'Roboto', sans-serif; 
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    display: flex;
  }

  .motivationbox{
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .work{
    height: 50vh;
    text-align: center;
    background-color: rgb(212, 88, 88);
    color: white;
    font-family: 'Roboto', sans-serif; 
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    display: flex;

  }

  .workbox{
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .homeheaders{
    font-family: 'Roboto', sans-serif; 
    padding-bottom: 20px;
  }

.homebody{
    font-size: 35px;
    font-weight: 700;
}

.flexhome{
    display: flex;
    background-color: aquamarine;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    justify-content: center;
    align-items: center;
}

.flexhome > div {
  flex: 50%;
    padding: 10px;
    
 
}

.flexboxlayout1{
    position: flex;
    flex-wrap: wrap;
    text-align: center;
    /* background-image: url('../../assets/phonehome.jpg'); */
    background: linear-gradient(rgba(149, 145, 145, 0.495), rgba(255, 255, 255, 0.133)), url('../../assets/phonehome.jpg');
    background-repeat: no-repeat;
    width: 600px;
    height: 400px;
    background-size: cover ;
    font-family: 'Roboto', sans-serif; 
    font-weight: 600;
    color: white;
    text-decoration: none;
  
    
    
}
.flexboxlayout2{
    position: flex;
    flex-wrap: wrap;
    text-align: center;
    
    background: linear-gradient(rgba(149, 145, 145, 0.495), rgba(255, 255, 255, 0.133)), url('../../assets/abouthome.jpg');
    width: 500px;
    height: 400px;
    background-size: cover ;
    
    font-family: 'Roboto', sans-serif; 
    font-weight: 600;
    color: white;
    background-repeat: no-repeat;
    
}

.flexboxlayout1text{
  padding-top: 50px;
  font-size: 35px;
  color: white;
  text-decoration: none;

}

.flexboxlayout1text:hover {
    color: rgb(230, 226, 135);
    background-color: transparent;
    text-decoration: underline;
  }

.flexboxlayout2text{
    padding-top: 50px;
    font-size: 35px;
    color: white;
    text-decoration: none;
  }
  .flexboxlayout2text:hover {
    color: rgb(230, 226, 135);
    background-color: transparent;
    text-decoration: underline;
  }


.readmore{
    font-size: 20px;
    font-weight: 500;
}

.homeflexboxes {
    width: 500px;
}


a:link {
  
    background-color: transparent;
    text-decoration: none;
   
  }

.footer{
    background-color: black;
    color: white;
    padding-top: 40px;
    padding-bottom: 200px;
}
.bottomlinks{
    color: white;
    text-decoration: none;
}

.bottomlinks:hover{
    text-decoration: underline;
}